body {
margin: 0;
font-family: 'Poppins', sans-serif;
background: #faf6f2;
}
header {
background: url("restobg.jpg") center/cover no-repeat;
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
header h1 {
font-size: 4rem;
}
nav {
background: #8b1e1e;
padding: 15px;
text-align: center;
}
nav a {
color: white;
background: #;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
}
.hero{
position: relative;
width: 100%;
height: 80vh;
overflow: hidden;
align-items: center;
color: white;
font-size: 2rem;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0,0,0,0,5);
}
section {
padding: 40px 20px;
max-width: 1000px;
margin: auto;
}


.home-text a{
text-decoration-line: none;
}
.menu-container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
gap:10px;
width: 80px;
height: 20px;
margin: auto;
}
.menu-box{
aspect-ratio: 1/1;
background: white;
color: black;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.3rem;
cursor: pointer;
transition: 0.3s;
border-radius: 20px;
}
.menu-box:hover {
transform: scale(1.05);
background: #c49b63;
}
.carbonara-section{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
gap: 40px;
padding: 0px;
}
.home-text{
width: 50%;
justify-content: center;
text-align: center;
}
.carbonara-img{
width: 50%;
}
.carbonara img{
width: 700px;
height:auto;
}


.event-text a{
color: black;
text-decoration-line: none;
}
.event-section{
display: flex;
align-items: center;
gap: 40px;
padding: 0px;
}
.event-img{
width:570%;
justify-content: center;
text-align: center;
}
.event-img{
width: 50%;
}
.event img{
width: 700px;
height:auto;
}


.menu {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}
.dish {
background: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
text-align: center;
}
.pizza-img{
width: 220px;
height: 120px;
border-radius: 10%;
}
.pasta-img{
    width: 220px;
    height: 120px;
    border-radius: 10%;
}
.lasagna-img{
    width: 220px;
    height: 120px;
    border-radius: 10%;
}
.tiramisu-img{
    width:220px;
    height: 120px;
    border-radius: 10%;
}

.footer {
 text-align: center; /* Centers footer text */
 padding: 20px; /* Adds padding inside footer */
 background: #003366; /* Sets footer background color */
 color: white; /* Sets footer text color */
 margin-top: 20px; /* Adds spacing above footer */
 }